!images/logo-gu-*.pdf
!images/logo-ttlab.pdf
!latexmkrc
!LICENSE
!README.md
!template.tex
!theme/beamercolorthemegoethe.sty
!theme/beamerfontthemegoethe.sty
!theme/beamerinnerthemegoethe.sty
!theme/beamerinnerthemegoetheimports.sty
!theme/beamerouterthemegoethe.sty
!theme/beamerthemegoethe.sty
!theme/colors.bib
!theme/linkref.sty
!theme/misc/listings.tex
!theme/misc/some.json
*